<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Rádio Bentão </title>

    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">

</head>

<body>

    <h1> Rádio Bentão </h1>

    <br>

    
    <div id="pesquisa">

        <form action="/search" method="get" id="forms">
    
            <input type="text" name="song" id="">
        
            <button type="submit" class="first"> Pesquisar Música </button>
        
        </form>

    </div>
    

    <br> <br>

    <div id="login">
        <form action="/exit" method="get">

            <button type="submit" style="background-color: rgb(255, 36, 36)"> <i class="fa-brands fa-spotify"></i> Sair do Spotify </button>
    
        </form>
    </div>

    <div id="user">

        <img src="<%- profile_image %>" alt="" srcset="">

        <p> <%- username %> </p>

    </div>


    
    
</body>
</html>