<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Resultado da Pesquisa - Rádio Bentão </title>

    <link rel="stylesheet" href="style2.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">

</head>

<body>

    <h1> Resultados da Pesquisa </h1>

    <div id="frame-container">
        <iframe id="iframe" src="<%- songSrc %>" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>

    <center>
        <button onclick="alert('Música adicionada com sucesso!')">
            <i class="fa-solid fa-circle-plus"></i> Adicionar à playlist
        </button>

        <button onclick="window.location.href='/'">
            <i class="fa-solid fa-house"></i> Voltar à tela inicial
        </button>
    </center>

    <footer>
        <p> Copyright &copy; - Rádio Bentão 2022 </p>
    </footer>
    

</body>
</html>